/*body{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 800px 950px 450px 980px 490px 460px;
}*/
/*---------------------------Header-----------------------------*/
/*-----------------------------About_us---------------------------*/
/*------------------------------How_it_works-------------------------*/
/*---------------------------------Categories---------------------------*/
/*----------------------------------Testimony------------------------------*/
/*-------------------------------------Search----------------------------------*/
/*--------------------------------------Footer--------------------------------*/