*{
	margin: 0;
	padding: 0;
}
body{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 800px 950px 450px 980px 490px 460px;
	background: #FFFFFF;
}
body>img{
	position: absolute;
	margin-top: 150px;
	margin-left: 750px;
	width: 570px;
	height: 580px;
}
/*---------------------------Header-----------------------------*/
header{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 1fr;
	grid-template-areas: 
	"n n"
	"txt img";
	background-image: url(imagenes/rect1.png);
	background-repeat: no-repeat;
	background-position: right;
}
header>nav{
	grid-area: n;
	display: grid;
	grid-template-columns: 80px 192px 115px 1fr;
	grid-template-rows: 36px;
	grid-template-areas: ". lg . menu";
	align-content: center;
}
nav>div{
	grid-area: lg;
	background-image: url(imagenes/logo.png); 
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 192px;
	height: 100%;
}
.menu{
	grid-area: menu;
	align-content: center;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 48px;
	text-align: center;
}
.menu>li{
	display: inline-block;
	height: 22px;
}
#sing_up{
	margin-right: 28px;
	border: 1px solid #3E3F43;
	/*box-sizing: border-box;*/
	border-radius: 8px;
	/*justify-content: center;
	align-content: center;*/
	padding: 10px; 
	margin-top: -12px;
	background: #F9BDBD;
}
#home{
	color: #DAA520;
}

.header_content{
	display: grid;
	grid-template-columns: 102px 505px 1fr;
	grid-template-rows: 100px 200px 50px;
	grid-template-areas: 
	". txt ."
	". txtm ."
	". btn .";
	grid-row-gap: 16px;
	margin-top: 140px;
	/*background-image: url(imagenes/vectimg.svg); 
	background-size: 100% 100%;
	background-position: absolute;
	background-position: right;
	background-repeat: no-repeat;*/
}
.header_content_text_s{
	grid-area: txt;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 49px;

	color: #3E3F43;
}
.header_content_text_b{
	grid-area: txtm;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 98px;

	color: #313235;
}
.header_content>button{
	grid-area: btn;
	width: 175px;
	height: 50px;
	background: #DAA520;
	border-radius: 4px;
}
.header_content_img{
	grid-area: img;
	background-image: url(imagenes/vectimg.svg); 
	background-size: 400px 400px;
	background-position: bottom left;
	background-repeat: no-repeat;
}
/*-----------------------------About_us---------------------------*/
.About_us{
	display: grid;
	grid-template-columns:100px 1fr 100px;
	grid-template-rows: 100px 400px 390px;
	grid-template-areas: 
	". ttl ."
	". abtop ."
	". abbot abbot"; 
}
.About_us_title{
	grid-area: ttl;
	display: grid;
	grid-template-columns: 30px 205px 58	6px 370px;
	grid-template-rows: 1fr;
	grid-template-areas: "img wwa bd as";
	justify-self: center;
	align-self: center;
}
.About_us_title>.icon{
	width: 30px;
	height: 30px;
	align-self: center; 
	background-image: url(imagenes/vectimg.svg); 
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.About_us_title>:nth-child(2){
 	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	color: #3E3F43;
	padding-top: 20px;
}
.line{
	border: 2px solid #000000;
	height: 0px;
	align-self: center;
}
.About_us_title>:last-child{
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 98px;
	text-align: right;

	color: rgba(34, 34, 34, 0.1);
}
.About_us_top{
	grid-area: abtop;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-rows:  100px 66px;
	grid-template-areas: 
	"kmr wttl"
	"kmr wtxt";
	margin-top: 60px;
}
.About_us_top>p:first-child{
	grid-area: wttl;
	margin-top: 30px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;

	color: #3E3F43;
}
.About_us_top>p:last-child{
	grid-area: wtxt;
	margin-top: 46px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;

	color: #000000;
}
.About_us_top>img{
	background: url(imagenes/calmarrec.png);
	background-size: 250px 320px;
	background-position: left;
	background-repeat: no-repeat;
	width: 388px;
	height: 306px;
	margin-right: 80px;
}
.About_us_bot{
	grid-area: abbot;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-rows:  100px 66px;
	grid-template-areas: 
	"wttl spn"
	"wtxt spn"; 
}
.About_us_bot>p:first-child{
	grid-area: wttl;
	margin-top: 30px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;

	color: #3E3F43;
}
.About_us_bot>p:last-child{
	grid-area: wtxt;
	margin-top: 46px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;

	color: #000000;
}
.About_us_bot>img{
	background: url(imagenes/spoon.png);
	background-size: 250px 320px;
	background-position: left;
	background-repeat: no-repeat;
	width: 280px;
	height: 306px;
	margin-left: 30%;
/*	margin-right: 80px;*/

}
/*------------------------------How_it_works-------------------------*/
.How_it_works{
	border: 2px solid red;
}
/*---------------------------------Categories---------------------------*/
/*----------------------------------Testimony------------------------------*/
/*-------------------------------------Search----------------------------------*/
/*--------------------------------------Footer--------------------------------*/